# AWS Amplify - Cognito
NEXT_PUBLIC_AWS_REGION=us-east-1
NEXT_PUBLIC_AWS_USER_POOL_ID=your-user-pool-id
NEXT_PUBLIC_AWS_USER_POOL_WEB_CLIENT_ID=your-web-client-id
NEXT_PUBLIC_AWS_IDENTITY_POOL_ID=your-identity-pool-id

# API - ENDPOINT
NEXT_PUBLIC_API_ENDPOINT=your-api-url

# MUI PRO License
NEXT_PUBLIC_MUI_LICENSE_KEY=your-key
